

.calender-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background: var(--calendar-background);
  width: 100%;
}

.title {
  padding: 10px 30px;
  font-size: 15px;
  width: 100%;
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.circleface {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: 8px;
  display: inline-block;
  transform: scale(1);
  transition: transform .5s, easein-out;
}

.circleface:hover {
  transform: scale(2.5);
  border: 1px solid var(--calendar-background);
  box-sizing: border-box;
}


.calender {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.month {
  width: 100%;
  text-align: center;
}

.month h2 {
  padding: 50px;
  margin: 0px;
  font-size: 30px;
  font-weight: normal;
}
