

.calender-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background: var(--calendar-background);
  width: 100%;
}

.title {
  padding: 10px 30px;
  font-size: 15px;
  width: 100%;
  background: var(--border);
  color: rgb(180, 180, 180);
  border-bottom: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.calender {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.year {

}

.month {
  width: 100%;
  text-align: center;
}

.month h2 {
  padding: 50px;
  margin: 0px;
  font-size: 30px;
  font-weight: normal;
}

.more {
  cursor: pointer;
}

.more:hover {
  color: gray;
}
