

.today {
  background: var(--border);
  box-shadow: inset 0px 0px 0px 1px rgb(225, 225, 225);
  font-size: 25px !important;
  font-weight: bold;
}

.day, .notADay {
  box-sizing: border-box;
  width: 14.28%;
  height: 150px;
  display: block;
  border: 1px solid var(--border);
}

.day {
  color: var(--calendar-font);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.day:hover {
  background: var(--border);
}



/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
RESPONSIVE
 */
@media only screen and (max-width: 1400px) {
  .day {
    height: 120px;
  }

  .notADay {
    height: 120px;
  }
}
