

:root {
  --border: rgb(240, 240, 240);
  --page-background: #d1c6b6;
  --page-font: black;
  --calendar-background: white;
  --calendar-font: gray;
}

html, body {
  margin: 0px;
  padding: 0px;
  height:100%;
  font-family: Jetbrains Mono, helvetica, arial, sans-serif;
  background: var(--page-background);
  color: var(--page-font);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container {
  width: 1200px;
}
